<table class="table table-bordered table-stripped">

<tr>
<td>Full Name</td>
<td ng-bind="data.full_name"></td>
</tr>

<tr>
<td>Gender</td>
<td ng-bind="data.gender"></td>
</tr>

<tr>
<td>Adderss</td>
<td ng-bind="data.address"></td>
</tr>

<tr>
<td>City</td>
<td ng-bind="data.city"></td>
</tr>

</table>